-r requirements.txt

bumpversion==0.5.3
coverage==4.4.1
cryptography==1.9
pylint==1.7.2
httmock==1.2.6
mccabe==0.6.1
pep8-naming==0.4.1
pip==9.0.1
pytest-cov==2.5.1
pytest-runner==2.11.1
pytest==3.1.2
PyYAML==3.12
Sphinx==1.6.3
tox==2.7.0
watchdog==0.8.3
wheel==0.34.2
